.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.authform {
  margin: auto;
  width: 80%;
}

.productrow {
  height: 50%
}

.bg {
  background: url('https://www.digitalistmag.com/files/2015/11/forest.jpg') no-repeat;
  width: 100%;
  height: 100vh;
  background-size: 100%;
  background-color: rgba(154, 154, 154, 0.543);
  background-blend-mode: screen;
}

.login-form {
  position: relative;
  top: 15vh;
  background: #009411f3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(72, 72, 72);
}