.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.authform {
  margin: auto;
  width: 80%;
}

.productrow {
  height: 50%
}

.login-form {
  position: relative;
  top: 10px; /* 10vh */
  background: #009411f3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(72, 72, 72);
}

.containerdiv {
  background-color: #0073ff4c;
  position: relative;
  padding: 30px;
}

.cartcontainerdiv {
  background-color: #0073ff4c;
  position: relative;
  padding: 30px;
  min-height: 100vh;
  height: 100%;
}

.productcard {
  min-height: 300px;
  margin-bottom: 30px;
}

.landingpagetitle {
  background-color: #744602fa;
  padding: 30px;
  border-radius: 30px;
  color: rgb(230, 230, 230);
  margin: 20px;
}